<center><b>FRIENDS</b></center>
<div ng-controller="FriendController">
<div align="center">
<table border="1">
<b>Friends</b>
<tr><td>Friend Name</td><td>Operation</td></tr>
<tr ng-repeat="friend in acceptfrienddata">
	<td>{{friend.friendloginname}}</td>
	<td><input type="submit"  value="Delete" ng-click="deleteFriendRequest(friend.friendId)" /></td>
</table>
<br/><br/><br/>
<b>Pending Friend Request</b>
<table border="1">
<tr><td>Friend Name</td><td>Operation</td></tr>
<tr ng-repeat="friend in pendingfrienddata">
	<td>{{friend.friendloginname}}</td>
	<td><input type="submit"  value="Accept" ng-click="acceptFriendRequest(friend.friendId)" /></td>
</table>

<br/><br/><br/>
 <b>Friend Suggestions for you</b>
 <table border="1">
<tr><td>Friend Name</td><td>Operation</td></tr>
<tr ng-repeat="friend in suggestedfrienddata">
	<td>{{friend.loginname}}{{friend.friendloginname}}</td>
	<td><input type="submit"  value="Send Request" ng-click="sendFriendRequest(friend.friendloginname)" /></td>
</table>

</div>
</div>