

<div ng-controller="ForumController">

<div><b><center><h3>FORUM</h3></center></b></div><br>
<form id="forumform" method="post">
<table align="center" >
	
	<tr><td>Forum Name</td><br><td><input type="text" name="forumName" ng-model="forum.forumName"></td></tr></br></br>
	<tr><td>Forum Content</td><td><textarea rows="6" cols="24" name="forumContent" ng-model="forum.forumContent"></textarea></td></tr>
	<tr><td colspan="2"><input type="submit" value="INSERT FORUM" ng-click="insertForum()"></td></tr>
</table>
</form>
<br>

<table align="center" border="1" width="60%">
<tr>
<th>Forum Name</th>
<th>Forum Content</th>
<th>Action</th>
</tr>
<tr ng-repeat="forum in forumdata">
<td>{{forum.forumName}}</td>
<td>{{forum.forumContent}}</td>
<td>
	<input type="submit" value="EDIT FORUM" ng-click="editForum(forum.forumId)"/>
	<input type="submit" value="DELETE FORUM" ng-click="deleteForum(forum.forumId)"/>
</td>
</tr>
</table>
</form>

</div>

