<center><b>CHAT</b></center>
<div ng-controller="ChatController">

<form submit="addMessage()" name="chatmsg">
<div class="row" align="center">
<Label>Message </Label><br>
<input type="text" placeholder="Enter ur message" ng-model="message">

<button ng-disabled="message.length>140 || message.length==0">Send</button>
</div>
</form>

Message
<div align="center">
	<p ng-repeat="message in messages"></p>
	<time>{{message.time}}</time>
	<span>{{message.messages}}</span>
</div>

</div>