<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>

<div><b><center><h3>BLOG</h3></center></b></div><br><br>

<table align="center" >
	
	<tr><td>Blog Name</td><br><td><input type="text" name="bname" ng-model="blog.blogName"></td></tr></br></br>
	<tr><td>Blog Content</td><td><textarea rows="8" cols="24" name="bcontent" ng-model="blog.blogContent"></textarea></td></tr>
	<tr><td colspan="2"><input type="submit" value="Insert Blog" ng-click="insertBlog()"></td></tr>
</table>
</body>
</html>  