<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div><b><center>BLOG</center></b></div>
<table align="center" >
	
	<tr><td>Blog Name</td><td><input type="text" name="bname" ng-model="blog.blogName"></td></tr></br></br>
	<tr><td>Blog Content</td><td><textarea rows="10" cols="24" name="bcontent" ng-model="blog.blogContent"></textarea></td></tr>
	<tr><td colspan="2"><input type="submit" value="Insert Blog" ng-click="insertBlog()"></td></tr>
</table>
</body>
</html>