<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="myApp">

<div ng-controller="BlogController">

<div><b><center><h3>BLOG</h3></center></b></div><br>
<form id="blogform" method="post">
<table align="center" >
	
	<tr><td>Blog Name</td><br><td><input type="text" name="blogName" ng-model="blog.blogName"></td></tr></br></br>
	<tr><td>Blog Content</td><td><textarea rows="6" cols="24" name="blogContent" ng-model="blog.blogContent"></textarea></td></tr>
	<tr><td colspan="2"><input type="submit" value="UPDATE BLOG" ng-click="updateBlog()"></td></tr>
</table>
</form>
<br>


</div>

</body>
</html>