
<body ng-app="myApp">

<div ng-controller="UserController">

<center><h3>LOGIN</h3></center>

<form id="loginform" method="post">

<table align="center" cellspacing="10">
<tr>
	<td>Login Name</td>
</tr>
<tr>
	<td><input type="text" height="50" width="100" name="loginname" ng-model="user.loginname"/></td>
</tr>
<tr>
	<td>Password</td>
</tr>
<tr>
	<td><input type="password" height="50" width="100" name="password" ng-model="user.password" /></td>
</tr>

<tr><td><button type="button" class="btn btn-info" ng-click="login()">Login</button></td></tr>


</form>
</div>

</body>
