<center><h3>LOGIN</h3></center>

<div ng-controller="UserController">

<div class="container-fluid">

<form id="loginform" method="post">

<div class="row" >
    <div class="col-md-6 col-md-offset-4">
        <div class="form-group">
        	<label>Login Name</label>
            <input class="form-control"  name="loginname" placeholder="Enter Login Name" ng-model="user.loginname" type="text" required>
        </div>
        <div class="form-group">
        <label>Password</label>
            <input class="form-control"  name="password" placeholder="Enter Password" ng-model="user.password" type="password" required>
        </div>
        
    </div>
</div>

<div class="text-center">
    <button type="button" class="btn btn-info" ng-click="login()">Login</button>
</div>

</form>
</div>

</div>

